# https://github.com/nextest-rs/reuse-build-partition-example
# https://keliris.dev/articles/setup-rust-github-actions

name: nextest

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  schedule:
    - cron: 0 0 * * 1

env:
  CARGO_TERM_COLOR: always

jobs:
  run-tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      # - uses: rui314/setup-mold@v1
      - name: install mold
        run: sudo apt-get install -y musl-tools musl-dev libssl-dev clang mold
      # https://github.com/moonrepo/setup-rust
      - uses: moonrepo/setup-rust@v1
        with:
          bins: cargo-nextest
      - name: Run tests
        run: cargo nextest run -E "all() - test(get_api) - kind(bin)"

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      # - uses: rui314/setup-mold@v1
      - name: install mold
        run: sudo apt-get install -y musl-tools musl-dev libssl-dev clang mold
      - uses: moonrepo/setup-rust@v1
        with:
          components: clippy
      - name: clippy
        run: cargo clippy
